body {
    font-family: Roboto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.one,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
}

.right-header {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    justify-content: center;
    gap: 12px;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.two-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.three p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.blue-box {
    background-color: #3882F6;
}
