body {
    font-family: Roboto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.one,
.footer {
    background-color: #1F2937;
}

.one {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
}

.right-header {
    font-size: 18px;
    color: #E5E7EB;
}

.one-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
    margin: 0 200px;
    gap: 30px;
}

.one-left {
    width: 50%;
}

.one-right {
    box-sizing: border-box;
    width: 50%;
    color: #F9FAF8;
    background-color: #838995;
    text-align: center;
    padding: 100px 0;
}

.right-header ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.one-left p {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 10px;

}

.two {
    margin-bottom: 70px;
}

.two-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 25px 0;
}

.two-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0;
    margin: 0;
}

.two-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.two-square {
    width: 100%;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 60px 340px;
}

.three-text {
    align-self: center;
}

.three-text p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.three-footer {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
}

.blue-box {
    background-color: #3882F6;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    border-radius: 8px;
}

.four-left {
    display: flex;
    flex-direction: column;
}

.four-left div {
    color: #F9FAF8;
}

h2 {
    margin: 0;
}

.four-right button {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.footer p {
    color: #F9FAF8;
}
