body {
    font-family: Roboto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.one,
.footer {
    background-color: #1F2937;
}

.one {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
}

.right-header {
    font-size: 18px;
    color: #E5E7EB;
}

.one-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
}



.one-right {
    color: #F9FAF8;
    background-color: #b0b0b0;
}

.right-header ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.one-left p {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 10px;

}

.two-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 25px 0;
}

.two-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0;
    margin: 0;
}

.two-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 100px;
}

.two-square {
    width: 100%;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.three {
    background-color: #E5E7EB;
}

.three p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.blue-box {
    background-color: #3882F6;
}
